*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	font-family: "Rubik", sans-serif;
	line-height: 1.5;
	outline: none;
	scroll-behavior: smooth;
	transition: var(--transition-base);
}
