.btn {
	padding: 0.5rem 4rem;
	font-weight: 700;
	font-size: 1.8rem;
	background-color: var(--accent);
	color: var(--white);
	border-radius: 1.6rem;
	border: none;
	cursor: pointer;
}

.header__btn {
	transition: all 0.5s ease-in-out;
}

.header__btn:hover {
	background-color: var(--white);
	color: var(--dark);
}

.btn-more {
	margin-top: 3rem;
}

.dialog__form--btn {
	height: 5rem;
	width: auto;
	padding: 0.5rem 2rem;
	transition: all 0.5s ease-in-out;
}

.dialog__form--btn:hover {
	background-color: var(--white);
	color: var(--dark);
	border: 1px solid var(--dark);
}

.dialog__form--btn.cancel,
.dialog__form--btn.edit {
	width: 50%;
}
